.espana {
    width: calc(50% - 22px);
    background-color: red;
    height: 300px;
    float: left;
    position: relative;
    margin: 10px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
}
.espana2 {
    height: 100px;
    width: 100%;
    margin-top: 100px;
    background-color: gold;
    position: absolute;
}
.din {
    width: calc(50% - 22px);
    background-color: red;
    height: 300px;
    float: left;
    position: relative;
    margin: 10px; 
    border-width: 1px;
    border-color: gray;
    border-style: solid;
}
.din1 {
    height: 300px;
    width: 30px;
    margin-left: 100px;
    background-color: white;
    position: absolute;
}
.din2 {
    height: 30px;
    width: 100%;
    margin-top: 100px;
    background-color: white;
    position: absolute;
}
.emir {
    width: calc(50% - 22px);
    background-color: red;
    height: 300px;
    float: left;
    position: relative;
    margin: 10px; 
    border-width: 1px;
    border-color: gray;
    border-style: solid;
}
.emir1 {
    height: 100px;
    width: 80%;
    margin-left: 20%;
    position: absolute;
    background-color: green;
}
.emir2 {
    height: 100px;
    width: 80%;
    margin-left: 20%;
    margin-top: 100px;
    position: absolute;
    background-color: white;
}
.emir3 {
    height: 100px;
    width: 80%;
    margin-top: 200px;
    margin-left: 20%;
    position: absolute;
    background-color: black;
}
.jap {
    width: calc(50% - 22px);
    background-color:white;
    height: 300px;
    float: left;
    position: relative;
    margin: 10px; 
    border-width: 1px;
    border-color: gray;
    border-style: solid;
}
.jap1 {
    height: 150px;
    width: 150px;
    background-color: red;
    border-radius: 50%;
   position: absolute;
  margin-top:75px;
  margin-left: 40%;

  }